<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<form action="#" th:action="@{/saveparish}" th:object="${parish}" method="post">
    <table>
    <tr>
        <td>Name:</td>
        <td><input type="text" th:field="*{name}"/></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><input type="text" th:field="*{address}"/></td>
    </tr>
    <tr>
        <td><input type="submit" value="Submit"/></td>
    </tr>
    </table>
</form>
</body>
</html>