<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Parishes</title>
</head>
<body>
   <div align="center">
      <table width="100%">
          <tr>
              <td>Id</td>
              <td>Name</td>
              <td>Address</td>
          </tr>
          <tr th:if="${parishes.empty}">
              <td>No Parishes saved. </td>
          </tr>
          <tr th:each="parish : ${parishes}">
              <td><span th:text="${parish.id}"></span></td>
              <td><span th:text="${parish.name}"></span></td>
              <td><span th:text="${parish.address}"></span></td>
          </tr>
      </table>
   </div>
   <div>
    <div align="left">
        <span><b><a href="/api/parish/addparish">Add Parish</a></b></span>
    </div>
    <div align="right">
       <span><b><a href="#">Create Faith</a></b></span>
    </div>
   </div>
</body>
</html>