<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all Parishnor</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h2> Parish Management System </h2>
        </div>
        <div id="content">
           <div id="global_search"  style="width" >
               <input type="text" name="search" value="search by name, mobile, adhar">
           </div>
            <div>
                <h2>Parishnor is saved......</h2>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>